@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

body {
    font-family:unbounded, sans-serif;
}


/* style timer panel */

#scoreboard {
    height: 100vh;
    width: 100%;
    text-align: center;
}

#time-panel {
    width: 50%;
    height: 15vw;
    margin: auto;
    border-style: solid;
    border-width: thick;
    border-color: blue;
}
 #timer {
    width: 90%;
    height: 80%;
    margin: auto;
    font-size: 10vw;
 }

 #control-time {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
 }

 /* Style score & period panel */

#score-and-period {
    display: inline-block;
    width: 100%;
    height: 9vw;
    margin: 1vw auto 0;
    border-style: solid;
    border-width: medium;
    border-color: blue;
    text-align: center;
    position: relative;
}
#score-and-period > div {
    display: inline-block;
}

/* Style team 1*/

#score-team-1 {
    width:33%;
    height: 100%;
}

#border-goal-team-1 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#goal-team-1 {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-score-team-1 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* Style of the period number*/

#period {
    width:33%;
    height: 100%;
    position: relative;
}

#border-period {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#period-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-period {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* Style the goal for team 2 */
#score-team-2 {
    width:33%;
    height: 100%;
}

#border-goal-team-2 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#goal-team-2 {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-score-team-2 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}
/* End of style of score and period panel*/

/* style for shot panel*/
/* style for shot team 1 + main div style*/

#shot-panel {
    display: inline-block;
    width: 100%;
    height: 9vw;
    margin: 1vw auto 0;
    border-style: solid;
    border-width: medium;
    border-color: blue;
    text-align: center;
    position: relative;
}
#shot-panel > div {
    display: inline-block;
}

/* Style team 1*/

#shot-team-1 {
    width:45%;
    height: 100%;
}

#border-shot-team-1 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#shot-team-1-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-shot-team-1 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* style shot team 2*/

#shot-team-2 {
    width:45%;
    height: 100%;
}

#border-shot-team-2 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#shot-team-2-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-shot-team-2 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}
/* End of style for shots */

/*Style for penality*/

#penality-panel {
    display: inline-block;
    width: 100%;
    height: 12vw;
    margin: 1vw auto 0;
    border-style: solid;
    border-width: medium;
    border-color: blue;
    text-align: center;
    position: relative;
}
#penality-panel > div {
    display: inline-block;
}
/* Penality Team 1*/

#penality-team-1 {
    width:35%;
    height: 80%;
    margin: auto;
}

#penality-players-team-1 {
    width: 80%;
    height: 80%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

/* Penality Setting*/

#penality-setting {
    width:20%;
    height: 70%;
    position: relative;
    margin: auto;
}

#penality-border-setting {
    width: 100%;
    height: 30%;
    margin: auto;
}

#set-penality {
    width:20%;
    height: 50%;
    margin: auto;
    font-size: 1vw;
}

/* Penality team 2 */

#penality-team-2 {
    width:35%;
    height: 80%;
}

#penality-players-team-2 {
    width: 80%;
    height: 80%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

/* End of styling for penality panel*/

/* Style of the rooster*/
#rooster {
    display: inline-block;
    width: 100%;
    height: 9vw;
    margin: 1vw auto 0;
    border-style: solid;
    border-width: medium;
    border-color: blue;
    text-align: center;
    position: relative;
}
#rooster > div {
    display: inline-block;
}

/* Style of the buttons */

 .btn {
    color:blue;
    margin: auto;
    font-size: 1vw;
 }

.btn:hover {
    background-color: black;
    color:white;
 }