@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

body {
    font-family:unbounded, sans-serif;
    background-color: black;
    color: white;
}

/* Style of the buttons */

.btn {
    color:blue;
    margin: auto;
    font-size: 1vw;
 }

.btn:hover {
    background-color: black;
    color:white;
 }

 /* Style for label to ensure they are responsive*/

 h2 {
    font-size: 1vw;
 }

ul {
    list-style-type: none;
}

#rooster input, #rooster label {
    width : 100%;
}

/* style timer panel */

#scoreboard {
    height: 100vh;
    width: 100%;
    text-align: center;
}

#time-panel {
    width: 50%;
    height: 15vw;
    margin: auto;
    border-style: solid;
    border-width: thick;
    border-color: blue;
}
 #timer {
    width: 90%;
    height: 80%;
    margin: auto;
    font-size: 10vw;
 }

 #control-time {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
 }

 /* Style score & period panel */

#score-and-period {
    display: inline-block;
    width: 100%;
    height: 9vw;
    margin: 1vw auto 0;
    text-align: center;
    position: relative;
}

#score-and-period > div {
    display: inline-block;
}

/* Style team 1*/

#score-team-1 {
    width:33%;
    height: 100%;
}

#border-goal-team-1 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#goal-team-1 {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-score-team-1 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* Style of the period number*/

#period {
    width:33%;
    height: 100%;
    position: relative;
}

#border-period {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#period-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-period {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* Style the goal for team 2 */
#score-team-2 {
    width:33%;
    height: 100%;
}

#border-goal-team-2 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#goal-team-2 {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-score-team-2 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}
/* End of style of score and period panel*/

/* style for shot panel*/
/* style for shot team 1 + main div style*/

#shot-panel {
    display: inline-block;
    width: 100%;
    height: 9vw;
    margin: 1vw auto 0;
    text-align: center;
    position: relative;
}
#shot-panel > div {
    display: inline-block;
}

/* Style team 1*/

#shot-team-1 {
    width:45%;
    height: 100%;
}

#border-shot-team-1 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#shot-team-1-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-shot-team-1 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}

/* style shot team 2*/

#shot-team-2 {
    width:45%;
    height: 100%;
}

#border-shot-team-2 {
    width: 30%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#shot-team-2-number {
    width:100%;
    height: 70%;
    margin: auto;
    font-size: 4vw;
}

#adjust-shot-team-2 {
    width: 100%;
    height: 20%;
    margin: auto;
    font-size: 1vw;
}
/* End of style for shots */

/* Style of the rooster*/
#rooster {
    display: inline-block;
    width: 100%;
    height: 12vw;
    margin: 1vw auto 0;
    text-align: center;
    position: relative;
}
#rooster > div {
    display: inline-block;
}

/* Team 1 & 2 rooster style */

#team-1-rooster {
    width:45%;
    height: 100%;
    float: left;
}

#team-2-rooster {
    width:45%;
    height: 100%;
    float: right;
}

 /* Responsive for all size of screen*/

 @media (max-width: 1300px) {
    #time-panel {
        height: 15vw;
    }

    #score-and-period {
        height: 14vw;
    }
    #shot-panel {
        height: 14vw;
    }

    #penality-panel {
        height: 22vw;
    }

    #goal-team-1, #period-number, #goal-team-2, #shot-team-1-number, #shot-team-2-number {
        font-size: 6vw;
    }

 }

 @media (max-width: 1000px) {
    #time-panel {
        height: 15vw;
    }

    #score-and-period {
        height: 19vw;
    }
    #shot-panel {
        height: 19vw;
    }

    #penality-panel {
        height: 25vw;
    }

    #goal-team-1, #period-number, #goal-team-2, #shot-team-1-number, #shot-team-2-number {
        font-size: 8vw;
    }
 }

 @media (max-width: 855px) {
    #time-panel {
        height: 15vw;
    }

    #score-and-period {
        height: 50vw;
    }

    #score-and-period > div {
        display: block;
    }

    #score-team-1 {
        width: 100%;
        height: 25%;
    }

    #border-goal-team-1 {
        width: 15%;
        height: 90%;
    }

    #period {
        width:100%;
        height: 25%;
        margin-top: 5%;
    }

    #border-period {
        width: 15%;
        height: 90%;
    }

    #score-team-2 {
        width:100%;
        height: 25%;
        margin-top: 5%;
    }

    #border-goal-team-2 {
        width: 15%;
        height: 90%;
    }
    

    #shot-panel {
        height: 17vw;
    }

    #penality-panel {
        height: 23vw;
    }
 }