@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

body {
    font-family:unbounded, sans-serif;
}


/* styling timer panel */

#time-panel {
    width: 50%;
    height: 25%;
}